html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    height: max-content;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*main code*/
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  

  
  h1 {
    color: #050505;
    font-size: 24px;
  }
  
  p {
    color: #0f0f0f;
    font-size: 20px;
  }
  
 
  .box1
  {
    justify-content: center;
    padding:-20px;
    margin-bottom: 5px;
    margin-top: 10px;
  }


  body {
    font-family: Arial, sans-serif;
    background-image: url('images/newgymm.jpg');
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105vh;
    
}




.retHome
{
   height: 150px;
   width: 350px; 
  
  border: none;
  padding: 20px 30px;
  text-align: center;
  
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  position: fixed;
   bottom:-110px;
   right:550px;
   font-size:x-large;
   margin-top: 90px;
   
   
}

a{
    color: whitesmoke;
}


  .container {
    padding-top: 80px;
    width: 500px;
    height: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #d7c074;
    border-radius: 10px;
    opacity: 6;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 100px;
  }
.IDcontainer
  {
      
      width: 300px;
      height: 80px;
      margin: 70px auto;
      align-items: center;
      padding: 20px;
      background-color: #d7c074;
      border-radius: 10px;
      opacity: 6;
      text-align: center;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);  
      margin-bottom: -100px;
      margin-top: 90px; 
      padding: 8px; 
  }
  .ViewClient
  {
     text-align: left;
     font-size: large;
     font-weight: 140;
  }

  .textTarget
  {
    font-size: xx-large;
  }
  
  .disgusting
  {
    text-align: center;
    font-size: xx-large;
  }

 .Updateinfo
 {
  font-weight:bolder;
  font-size: 20px;
  
  cursor: pointer;
  display: inline-block;
  background-color:whitesmoke;
 }
 

  